.css-1rtg91x-MuiDateCalendar-root {
    height: 100% !important;
}

/* .MuiOutlinedInput-root {
    height: 40px !important;
}
   */

/* .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root { */
    /* line-height: 0.75em !important; */
    /* font-family: Raleway-Bold !important;
    font-size: 0.9rem !important; */
/* } */

