/* Aumentar el tamaño de fuente para los meses y años */
.react-datepicker__month-year-dropdown-container,
.react-datepicker__month-year,
.react-datepicker__month {
    font-size: 1.5em; /* Ajusta este valor según sea necesario */
}

.react-datepicker__header {
    font-size: 1.5em; /* Ajusta este valor según sea necesario */
}

/* Estilos adicionales para personalizar el input y el calendario */
.custom-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.react-datepicker__current-month {
    font-size: 1.5em; /* Ajusta este valor según sea necesario */
}

.react-datepicker__month-text {
    font-size: 1.2em; /* Ajusta este valor según sea necesario */
}
